<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">   
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <title>The Numerology Calculator</title>
    </head>
    <body background="http://backgrounds.picaboo.com/download/98/89/9897124797d54e78a282450b847b0958/Pale%20Green%20Polka%20Dots%201.jpg">
        <div class="container-fluid">
            <div class="header">
                <h1>The Numerology Calculator <small>A Project by MinSun for Skillcrush</small></h1>
            </div>
            <hr />
            <%= yield %>
            <hr />
            <h3>About the Developer</h3>
            <p>Hi, I'm Lynn.  I work, write books, and design/build websites.  View my work <a href="http://itsohminsun.me" target="_BLANK">here</a>, and 
            let's build some great things!</p>
        </div>
    </body>
</html>
