<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">       
    </head>
    <body background="http://backgrounds.picaboo.com/download/98/89/9897124797d54e78a282450b847b0958/Pale%20Green%20Polka%20Dots%201.jpg">
        <%= yield %>
    </body>
</html>