<h1>Words</h1>
  <table class="table table-striped">
    <thead>
      <th>Text</th>
      <th>Letters</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <% @words.each do |word| %>
        <tr>
          <td>
            <a href="<%= "/words/#{word.id}" %>">
              <%= "#{word.text}" %>
            </a>
          </td>
          <td><%= "#{word.letters}" %></td>
          <td>
            <form action="what goes here?" method="post">
              <input type="hidden" name="_method" value="...and how about here?" />
              <button class="btn btn-danger" type="submit">
                Delete
              </button>
            </form>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
