<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <title>Anagram Generator</title>
    </head>
    <body>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>
